body {
    background: #0c0d11;
    color: #d8d8d8;
    font-family: "Inter", sans-serif;
}

.home-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding: 20px;
}

.home-container {
    max-width: 900px;
    text-align: center;
}

.home-title {
    font-size: 3.4rem;
    font-weight: 780;
    margin-bottom: 12px;
    color: #6ec9ff;

    text-shadow:
        0 0 14px rgba(110, 201, 255, 0.65),
        0 0 25px rgba(110, 201, 255, 0.25);
}

.home-subtitle {
    font-size: 1.35rem;
    margin-bottom: 45px;
    color: #b4bcc3;
}

.home-features {
    list-style: none;
    padding-left: 0;
    font-size: 1.15rem;
    max-width: 650px;
    margin: 0 auto;
    color: #d0d0d0;
}

.home-features li {
    padding: 12px 0;
    border-bottom: 1px solid rgba(110, 201, 255, 0.08);
    transition: 0.25s ease;
}

.home-features li:hover {
    color: #e3ffff;
    text-shadow: 0px 0px 9px #00ffc8;
    transform: translateX(3px);
    border-color: rgba(0, 255, 200, 0.25);
}